.home__header {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: space-between;
}
.home__logo {
  width: 45px;
  height: 45px;
}
.home__headercomp {
  display: flex;
}
.home__headercomp h1 {
  margin-left: 20px;
  font-weight: bold;
}
.homedrop__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homedrop__item h5 {
  margin-left: 10px;
  font-weight: bold;
}
.home__stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.home__graph {
  display: flex;
  margin-bottom: 2rem;
}
.home__graphbox {
  flex: 1 !important;
  border: 0.1px solid lightgrey !important;
}
.home__graphbox:not(:last-child) {
  margin-right: 20px;
}
.home__graphbox h4 {
  margin-top: 15px;
  text-transform: capitalize;
}
.graph__dropdown {
  border-bottom: 0.5px solid lightgrey;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.graph__dropdown2 {
  display: flex;
  border-bottom: 0.5px solid lightgrey;
  justify-content: center;
  padding-bottom: 18px;
  margin-bottom: 15px;
  padding-top: 5px;
  justify-items: center;
}
.graph__dropdown2 h4 {
  margin-left: 20px;
}
.graph__logo {
  margin-top: 7px;
}
.home__map {
  margin-bottom: 20px;
}
@media (max-width: 990px) {
  .home__stats {
    flex-direction: column;
  }
  .home__graph {
    flex-direction: column;
  }
  .home__graphbox:not(:last-child) {
    margin-right: 0px;
  }
  .home__graphbox {
    margin-bottom: 20px !important;
  }
}
