
.dataApi__main{
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1 !important;
    
}
.search{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.tabledrop__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table_data{

      position: sticky;
  }
  .Multi_check{
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      border: solid 1px lightblue;
  }